# Dependências
/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.swp

# Editor e IDE
.vscode/
.idea/
*.code-workspace

# Build e cache (caso venha a usar futuramente)
/dist/
/build/
/.cache/

# Outros
package-lock.json
